<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Kuna, Idaho Youth Basketball information">
        <meta name="author" content="Justin B. Kay">
        <link rel="shortcut icon" type="image/png" href="/img/favicon.png">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/jumbotron.css">
        <script src="/js/moment.min.js"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{ site.name }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="{{ page.home }}"><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li class="{{ page.officers }}"><a href="/officers/"><span class="glyphicon glyphicon-user"></span> Officers</a></li>
            <li class="{{ page.signups }}"><a href="/signups/"><span class="glyphicon glyphicon-pencil"></span> Sign ups</a></li>
            <li class="{{ page.rules }}"><a href="/rules/"><span class="glyphicon glyphicon-book"></span> League rules</a></li>
            <li class="{{ page.schedule }}"><a href="/schedule/"><span class="glyphicon glyphicon-calendar"></span> Schedule</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div>
      </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <img src="/img/bball.png" alt="Basketball" class="hidden-xs pull-left img-circle" style="margin-right: 70px;" />
        <h1>Kuna Youth Basketball</h1>
        <p>This website contains important information for Parents, Players, and Fans.</p>
        <p class="text-danger">Boys Season: January 14th - March 8th</p>
      </div>
    </div>

      {{ content }}

      <hr>
      <div class="container">
        <p>&copy; {{ site.name }} {{ site.time | date: "%Y" }}</p>
        <p>Last updated: {{ site.time | date: "%B %d, %Y" }}</p>
      </div>
      <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>

    </body>
</html>
